.questionBox {
    border: solid black;
    position: absolute;
    margin: auto;
     top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    
    /* justify-content: center;
    align-items: center; */
}

.storedChar {
    position: absolute;
    left: 100px;
    top: 10px;
    color: blueviolet;

}

button {
    padding: .5em;
}

h1 {
    padding-left: 1em;
}